@CHARSET "ISO-8859-1";

/* Evento vencido */
.caja-roja {
	background: tomato;
	border-color: indianred;
	/*background-image: linear-gradient(to bottom, tomato, indianred);*/
}

/* No definido */
.caja-verde {
	background: #3fc556;
	border-color: #00a452;
	/*background-image: linear-gradient(to bottom, #3fc556, #00a452);*/
}

/* Evento próximo a vencer */
.caja-amarilla {
	background: #f2bb13;
	border-color: #DE9321;
	/*background-image: linear-gradient(to bottom, #f2bb13, #DE9321);*/
}

/* Reducción del texto de los eventos */
.fc-title, .fc-time {
	font-size: 85%;
}

/* Oculta el tiempo de los eventos
#calendario, .fc-time{
    display: none;
}
*/