/*
* $className
*
* 1.0
*
* 09/09/2016
*
* Copyright Stefanini Sysman
*/
package $package;

/**
 * @author Processors-api
 * 
 * @version 1.0
 * 
 * Enumeración que permite clasificar cada uno de los parámetros
 * identificados en el refactoring, para ser convertidos Map<String,String>
 * y disponibles en dicha enumeración.
 */ 
public enum $className {
   
   #set( $counter = 0 )
   #set( $increment = 1 )
   #set( $size = $paramList.size() )
   #foreach( $param in $paramList )
     #set( $counter = $counter +$increment )
     #if ($counter == $size)
     $param("$param");
     #else 
     $param("$param"),  
     #end
   #end
	
	private final String value;
	
	private  $className(String value) {
		this.value = value;
	}
	
	public String getValue() {
		return value;
	}
}
