/*
* $className
*
* 1.0
*
* 09/09/2016
*
* Copyright Stefanini Sysman
*/
package com.sysman.services;

import com.sysman.kernel.generators.beans.Parameter;
import javax.ws.rs.Consumes;
import javax.ws.rs.PUT;
import javax.ws.rs.Path;
import javax.ws.rs.GET;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;

/**
 * @author Generator
 * 
 * @version 1.0
 * 
 * Servicio web llamado $className y que expone la funcionalidad de negocio.
 * a traves de los metodos GET, POST, PUT y DELETE
 */ 
 
@Path("/$className.toLowerCase()")  
public class $className {

//@Inject
//private $invoker<$typeObject> $invoker.toLowerCase();   
   
#set( $counter = 0 )
#set( $increment = 1 )
#set( $size = $paramList.size() )
#foreach( $paramGet in $paramGetList )    
  #set( $param = $paramGet) 
  /** Metodo de servicio para obtener informacion de $param */
  @GET
  @Produces(MediaType.APPLICATION_JSON)
  public Response $param(Parameter parameter) {
      try {
	      parameter = null;//$invoker.invoke(parameter);
	      return Response.ok().entity(parameter).build();
      } catch (ServiceException e) {
      	return Response.status(Response.Status.NOT_FOUND).build();
      } catch (Exception e) {
      	return Response.status(Response.Status.NOT_FOUND).build();
      }
  }
 
#end
   
#set( $counter = 0 )
#set( $increment = 1 )
#set( $size = $paramList.size() )
#foreach( $paramPost in $paramPostList )    
  #set( $param = $paramPost) 
  /** Metodo de servicio para guardar informacion de $param */
  @POST
  @Consume(MediaType.APPLICATION_JSON)
  @Produces(MediaType.APPLICATION_JSON)
  public Response save$param(Parameter parameter) {
  	  try {
      	  parameter = null;//$invoker.invoke(parameter);
      	  return Response.ok().entity(parameter).build();
      } catch (ServiceException e) {
      	return Response.status(Response.Status.NOT_FOUND).build();
      } catch (Exception e) {
      	return Response.status(Response.Status.NOT_FOUND).build();
      }
  }
#end

#set( $counter = 0 )
#set( $increment = 1 )
#set( $size = $paramList.size() )
#foreach( $paramPut in $paramPutList )    
  #set( $param = $paramPut) 
  /** Metodo de servicio para actualizar informacion de $param */
  @PUT
  @Consume(MediaType.APPLICATION_JSON)
  @Produces(MediaType.APPLICATION_JSON)
  public Response $param(Parameter parameter) {
      try {
	      parameter = null;//$invoker.invoke(parameter);
	      return Response.ok().entity(parameter).build();
      } catch (ServiceException e) {
      	return Response.status(Response.Status.NOT_FOUND).build();
      } catch (Exception e) {
      	return Response.status(Response.Status.NOT_FOUND).build();
      }
  }
#end

#set( $counter = 0 )
#set( $increment = 1 )
#set( $size = $paramList.size() )
#foreach( $paramDelete in $paramDeleteList )    
  #set( $param = $paramDelete) 
  /** Metodo de servicio para eliminar informacion de $param */
  @DELETE
  @Consume(MediaType.APPLICATION_JSON)
  @Produces(MediaType.APPLICATION_JSON)
  public Response $param(Parameter parameter) {
      try {
	      parameter = null;//$invoker.invoke(parameter);
	      return Response.ok().entity(parameter).build();
      } catch (ServiceException e) {
      	return Response.status(Response.Status.NOT_FOUND).build();
      } catch (Exception e) {
      	return Response.status(Response.Status.NOT_FOUND).build();
      }
  }
#end

}
