/*
* $className
*
* 1.0
*
* 09/09/2016
*
* Copyright Stefanini Sysman
*/
package $package;

/**
 * @author Processors-api
 * 
 * @version 1.0
 * 
 * Enumeracion que permite clasificar cada uno de los identificadores
 * geenerados en el refactoring y asociados al codigo legacy obtenido 
 * con patrones de busqueda.
 */ 
public enum $className {
   
   #set( $counter = 0 )
   #set( $increment = 1 )
   #set( $size = $paramList.size() )
   #foreach( $param in $paramList )
     #set( $counter = $counter +$increment )
     #set( $codigo  = $param.getCodigo() )
     #set( $url     = $param.getUrl() )
     #if ($counter == $size)
	$codigo("$baseClassName.toUpperCase()$codigo","$url");
     #else 
	$codigo("$baseClassName.toUpperCase()$codigo","$url"),  
     #end
   #end
	
	private final String key;
	private final String value;
	
	private  $className(String key, String value) {
	    this.key   = key; 
		this.value = value;
	}
	
	public String getKey() {
		return key;
	}
	
	public String getValue() {
		return value;
	}
}
