/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22-ene-2015, 14:27:35
    Author     : cmanrique
*/
.radioRight input {
	float: right;
}

.radioLeft input {
	float: left;
}

.radioLeft table tbody tr td {
	
}

.radioRight table tbody tr td {
	
}

/*.ui-inputfield {
    padding-left: 5px;
    padding-top: 0px;
}*/
.ui-inputfield {
	height: 100%;
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	box-shadow: -1px -1px 1px #8f8f8f inset;
	font-weight: inherit;
}

.ui-button-text-only .ui-button-text {
	padding: 0px;
	text-align: center;
}

.columnaCentro {
	padding: 0px;
	text-align: center;
}

.invisible {
	display: none;
}

.ui-tabs .ui-tabs-nav li a {
	font-size: 11px;
}

.ui-tabs .ui-tabs-panel {
	padding: 0px;
}

.button-general {
	padding: auto;
}

ui-spinner-input ui-inputfield ui-state-default ui-corner-all {
	height: 100%;
	width: 100%;
}

.acme {
	width: 80px;
	border: 1px solid #cecece;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px #888;
	float: left
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/*.ui-row-editor
{
    display: inline;

}

 .ui-helper-clearfix:after {
    display: inline;
}

*/
/*.ui-datatable .ui-row-editor span{
      cursor: pointer;
      float: left;
      margin-top: -7px;
}*/
.error {
	background-color: #bc1010;
	border-radius: 4px;
	color: white;
	float: left;
	font-size: 11px;
	margin-left: 9px;
	padding: 1px 5px;
	position: absolute;
	z-index: 10;
}

.error:before {
	border-color: transparent #bc1010 transparent transparent;
	border-style: solid;
	border-width: 7px;
	content: "";
	left: -12px;
	position: absolute;
	top: -1px;
}

.errorCampo {
	border: 1px solid red;
}

.obligatorioContinuo {
	color: red;
	margin-left: 2px;
	vertical-align: super;
}

.labComboGrande {
	cursor: pointer;
}

.numericoDerecha input {
	text-align: right;
}

.numericoDerechaNegr input {
	text-align: right;
	font-weight: bold;
}

div.funico div.ui-fileupload-buttonbar {
	background: white none repeat scroll 0 0;
	border: medium none;
	padding: 0px
}

div.funico div.ui-fileupload-content {
	display: none;
}

div.funico div.ui-fileupload-buttonbar {
	margin-right: 0 !important;
}

.funico div {
	height: 100%;
	width: 100%;
}

div.funico div.ui-fileupload-buttonbar span.ui-fileupload-choose {
	height: 100%;
	width: 100%;
}

.FLetiqueta {
	text-align: right;
	width: auto;
}

.CodeMirror {
	height: 100%;
	width: 100%;
}

.CodeMirror-scrollbar {
	height: 100%;
	width: 17px;
	float: left;
}

.CodeMirror-scroll {
	height: 100%;
	width: 90%;
	float: left;
}

.errorRq {
	border: 1px solid red !important;
}

.textoDerecha {
	text-align: right;
}

.fila-selecionada {
	background: silver !important;
}

.overFlowVisible {
	overflow: visible !important;
}

.heightIframe {
	height: 1023px !important;
}

.bodyModalDatos .ui-widget-overlay {
	background: transparent none repeat scroll 0 0 !important;
}

.bodyModal .ui-widget-overlay {
	background: transparent none repeat scroll 0 0 !important;
	height: 100%;
}

.bodyModal .ui-overlaypanel {
	top: 0px !important;
}

.bodyModal .ui-confirm-dialog {
	top: 0px !important;
}

.bodyModal .ui-dialog {
	top: 0px !important;
}

.bodyModalDatos .ui-dialog {
	top: 0px !important;
}

.labelFlowLayout {
	top: auto !important;
	left: auto !important;
	width: auto !important;
	position: relative !important;
	display: inline-block !important;
	padding: 2px 4px;
	margin-right: 5px;
}

.panelFlowLayout {
	top: auto !important;
	left: auto !important;
	position: relative !important;
	display: inline-block !important;
}

.botonBarraAcme {
	background-image: none !important;
	background: transparent !important;
	width: 80px !important;
	border: 1px solid #cecece !important;
	border-radius: 5px !important;
	box-shadow: 0 0 5px 1px #888 !important;
	float: left !important;
}

.botonMasGrilla {
	background-image: none !important;
	background: transparent !important;
	border-radius: 50%;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.botonMasGrilla:hover {
	background-image: none !important;
	background: transparent !important;
	border-radius: 50%;
	border: none !important;
	outline: none !important;
}

.botonMasGrilla:active, .botonMasGrilla:focus {
	background-image: none !important;
	background: transparent !important;
	border-radius: 50%;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.filaSeleccionada {
	border: 1px solid #666666;
	background: #aaaaaa;
	background: #aaaaaa linear-gradient(top, rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0));
	background: #aaaaaa
		-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)),
		to(rgba(0, 0, 0, 0)));
	background: #aaaaaa -moz-linear-gradient(top, rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0));
	color: #ffffff;
	text-shadow: 1px 1px 1px #333333;
}

.rbOrdenadoPersonal tr:nth-child(4)>td {
	padding-top: 50px !important;
	font-weight: bold;
}

.rbOrdenadoPersonal tr:nth-child(9)>td {
	padding-top: 115px !important;
}

.rbOrdenadoPersonal tr:nth-child(10)>td {
	padding-top: 45px !important;
}

.rbOrdenadoPersonal tr:nth-child(11)>td {
	padding-top: 30px !important;
}

.rbOrdenadoPersonal tr:nth-child(12)>td {
	padding-top: 50px !important;
}

.rbOrdenadoPersonal tr:nth-child(13)>td {
	padding-top: 45px !important;
}

.rbOcultarARP tr:nth-child(13) {
	display: none !important;
}