/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24-jun-2015, 18:12:10
    Author     : cmanrique
*/
.ui-iconBuscar {
	background-image: url("../../images/menus/48/search_b1.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
}

.ui-iconGrafica {
	background-image: url("../../images/menus/48/chart.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
}

.ui-iconExcel {
	background-image: url("../../images/general/excel.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconWord {
	background-image: url("../../images/general/word.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconPdf {
	background-image: url("../../images/general/pdf.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconTxt {
	background-image: url('../../images/general/textFile.png') !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconImprimir {
	background-image: url("../../images/general/imprimir.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconDescarga {
	background-image: url("../../images/general/descargas.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconGraficaPastel {
	background-image: url("../../images/general/grafica.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconCalculadora {
	background-image: url("../../images/general/calculadora.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconInforme {
	background-image: url("../../images/general/informe.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconRestriccion {
	background-image: url("../../images/general/restricciones.png")
		!important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconDepuracion {
	background-image: url("../../images/general/depuracion.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconFacEquivalente {
	background-image: url("../../images/general/factura-equivalente.png")
		!important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconImprimirCheque {
	background-image: url("../../images/general/imprimir-cheque.png")
		!important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconCopiarDoc {
	background-image: url("../../images/general/copiar-documento.png")
		!important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconBlocDeNotas {
	background-image: url("../../images/general/blocNotas.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconMas {
	background-image: url("../../images/general/mas.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconArchivoPlano {
	background-image: url("../../images/general/archivoPlano.png")
		!important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}

.ui-iconVistaPrevia {
	background-image: url("../../images/general/vistaPrevia.png") !important;
	height: 100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	top: 0 !important;
	width: 100% !important;
	background-position: center;
}