.node {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
    color: currentColor;
}

.node:first-letter {
    font-weight: bold;
}

.body {
    margin: 10px;
    padding: 0;
}

.text {
    font-family: Helvetica;
    color: black;
    text-align: left;
}

.chart_container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
}

#oc_supracontainer_4 {
    position: absolute;
    width: 1400px;
    height: 600px;
    border: solid 1px #333333;
    overflow: hidden;
}

#oc_content_dragonfly {
    margin-left: 8px;
}

.botonVolver {
    position: absolute;
    right: 25px;
    font-weight: bold;
    border: 1px solid blue;
    padding: 7px;
    border-radius: 5px;
    color: blue;
    /* color de la letra */
    cursor: pointer;
}

.botonVolver:hover {
    background: #c59820;
}