#wrapper{
	padding: 20px 50px;
	position: relative;
	z-index: 1;
}

#zoomOverlay{
	background: transparent url("../../images/general/bg.png");
    top:0;
    left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999999999;
}
#zoom{
	font-family: Tahoma;
	width: 36%;
	left: 32%;
	border: 1px solid #005dac;
	border-radius: 5px 5px 3px 3px;
	position: absolute;
	top:0;
	margin: 0 auto;
	z-index: 9999;
	background: #FFF;
	overflow: hidden;
	box-shadow: 0px 5px 8px 2px #999;
	opacity: 0;
}
#zoom .title{
	text-align: center;
	padding: 10px;
	box-shadow: 0px 1px 10px 4px #CCC;
	background: #005dac;
	color:white;
	font-weight: 600;
	position: relative;
	z-index: 999;
}
#zoom .content{
	box-sizing: border-box; 
	width:100% !important;
	height: 150px !important;
	padding: 10px 7px;
	overflow: auto;
	border: none;
	outline: none;
	resize:none;
	margin-bottom: 0;
	border-radius: 0;
}
#zoom .content:active, .content:focus{
	border: none !important;
	background: #FFFFFF !important;
	outline: none !important;
	box-shadow: none !important;
}
#zoom .actions{
	text-align: center;
	padding: 2px 0;
	background: #E2E2E2;
	border-top: 1px solid #CCC;
}
#zoom .actions button{
	padding: 7px 10px;
    margin: 5px 2px;
    border-radius: 3px;
    border:1px solid #AAA;
    box-shadow: 1px 1px 5px 0px #AAA;
    cursor: pointer;
    font-weight: bold;
    background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
	color: #005dac;
}
#zoom .actions button:hover{
	box-shadow: 0px 0px 5px 1px #AAA;
}